@import '../../sass/variables';

.buttonRegular {
  box-sizing: border-box;
  background: $background ;
  outline: none;
  border: none;
  color: dodgerblue;
  font-size: 40px;
  border-radius: 20px;
  &:hover {
    color: deepskyblue;
    font-size: 41px;
    transition: all 0.3s ease-out;
  }
  &:active {
    border: 1px solid deepskyblue;
    transition: all 0.3s ease-out;
  }
}
.buttonDelete {
  box-sizing: border-box;
  background: $background ;
  outline: none;
  border: none;
  color: orangered;
  font-size: 70px;
  &:hover {
    color: red;
    transition: all 0.3s ease-out;
  }
}