@import '../sass/variables';

.container {
  padding: 15px;
  background: #1c2733;
  height: 100px;
  width: 350px;
  border-radius: 3px;

  position: absolute;
  right: 20px;
  bottom: 20px;

  display: flex;
  align-items: center;
  box-sizing: border-box;

  box-shadow: 0 0 10px rgba(0,0,0,0.7);
  transition: all 0.3s ease-out;

  .avatar {
    background: orange;
    color: white;
    height: 70px;
    width: 70px;
    font-size: 70px;

    text-align: center;

    border-radius: 50px;
  }
  .text {
    height: 70px;
    font-family: 'Lato', sans-serif;
    .name {
      position: absolute;
      bottom: 69px;
      left: 109px;

      font-size: 20px;
      color: #f0f0f0;
    }
    .message {
      position: absolute;
      bottom: 38px;
      left: 109px;
      color: #9f9f9f;
    }
  }
  .respond {

    position: absolute;
    bottom: 12px;
    left: 263px;
    a {
      color: deepskyblue;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-decoration: none;
    }
  }
  .time {
    color: $textColor;
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 13px;
  }

}
.container:hover {
  box-shadow: 0 0 35px rgba(0,0,0,0.7);
  transition: all 0.3s ease-out;

}
